.contain {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    margin: 106px auto 65px auto;
    h1 {
        width: 100%;
    }
    div {
        width: 95%;
        display: flex;
        flex-flow: column;
        margin: 10px auto;
        border: 1px solid black;
        border-radius: 15px;
        img {
            border-radius: 50%;
            width: 85%;
            margin: 0 auto;
        }
        h2 {
            text-align: center;
            font-size: 4.2rem;
        }
        h3 {
            font-size: 3.6rem;
            padding: 10px 1em;
        }
        .himeme {
            display: none;
        }
        a {
            .makelinkMixin();
            color: @white;
            &:hover {
                color: black;
            }
        }
    }
    .iOSteam {
        background: @blue;
        color: @white
    }
    .webuidev, .backenddev {
        background: @green;
        color: @white
    }
    .reactteam {
        background: @orange;
        color: @white
    }
    .projectlead {
        a {
            color: black;
            &:hover {
                color: @green;
            }
        }
    }
    @media @tablet {
        flex-flow: row wrap;
        div {
            width: 46%;
            h3 {
                font-size: 1.8rem;  
            }
        }
        .reactteam {
            order: 1;
        }
        .projectlead {
            order: 1;
        }
        
    }
    @media @desktop {
        width: 90%;
        //margin: 0 auto;
        div {
            width: 31%;
            h2 {
                font-size: 2.3rem;
                padding: 8px;  
            }
            .himeme {
                display: inline-block;
                order: 3;
                padding: 12px;
            }
        }
        .iOSteam {
            width: 98%;
            flex-flow: row wrap;
            justify-content: space-around;
            img {
                width: 31%;
            }
            a {
                width: 31%;
                order: 2;
            }
            h3 {
                width: 100%;  
            }
            .himeme {
                display: inline-block;
                order: 3;
                padding: 12px;
            }

        }
        .reactteam {
            order: 0;
        }
        .projectlead {
            order: 0;
        }
    }
}