@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

// Theaming
@Header-Background: @gray;
//@Header-Links: @white;

@Footer-Background: @gray;


// Colors
@gray: #e5e5e5;
@blue: #055596;
@green: #05af50;
@orange: #dc960a;
@white: #ffffff;

@tablet: ~"(min-width: 500px)";
@desktop: ~"(min-width: 800px)";
